@model IEnumerable<InterviewEvaluationSystem.Models.CurrentStatusViewModel>
@{
    ViewBag.Title = "CandidateStatus";
    WebGrid webgridStatus = new WebGrid(source: Model, canSort: true, defaultSort: "Name", ajaxUpdateContainerId: "grid1", fieldNamePrefix: "f1", pageFieldName: "p1");
}
<link href="~/Content/webgridstyle.css" rel="stylesheet" />
<h2>Candidate Status</h2>

<div id="grid1">
    @if (Model.Any())
    {
        @webgridStatus.GetHtml(tableStyle: "table table-bordered table-striped table-condensed",
                     headerStyle: "webgrid-header",
                     footerStyle: "webgrid-footer",
                     alternatingRowStyle: "webgrid-alternating-row",
                     selectedRowStyle: "webgrid-selected-row",
                     rowStyle: "webgrid-row-style",
                     mode: WebGridPagerModes.All,
                     columns: webgridStatus.Columns(
                         webgridStatus.Column(columnName: "Name", header: "Name", format: (item) => item.GetSelectLink(item.Name.ToString())),
                         webgridStatus.Column(columnName: "Email", header: "Email"),
                         webgridStatus.Column(columnName: "RoundID", header: "Status")
                         )
                     )

    }
    else
    {
        <h3>You have No Candidates Assigned!!</h3>
    }
    @if (webgridStatus.HasSelection)
    {

        var candidate = (InterviewEvaluationSystem.Models.CurrentStatusViewModel)webgridStatus.Rows[webgridStatus.SelectedIndex].Value;
        TempData["Name"] = @candidate.Name;
        TempData["Email"] = @candidate.Email;
        TempData["RoundID"] = @candidate.RoundID;
        Response.Redirect("HREvaluation");
    }
</div>