@model IEnumerable<InterviewEvaluationSystem.Models.CurrentStatusViewModel>

@{
    ViewBag.Title = "CandidateStatus";
    WebGrid webgridStatus = new WebGrid(source: Model, canSort: false, canPage: true, rowsPerPage: 30);
}

<link href="~/Content/webgridstyle.css" rel="stylesheet" />

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/HR/HRHomePage">Home Page</a>
    </li>
    <li class="breadcrumb-item active">Interviews</li>
    <li class="breadcrumb-item active">Interview Evaluation Status</li>
</ol>

@using (Html.BeginForm(new { id = "form" }))
{
    <div class="input-group input-group-btn">
        @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control control-label col-md-2", @placeholder = "Search by Name or Email" })
        <span class="input-group-btn">
            <input type="submit" value="Search" class="btn btn-primary" />
        </span>
    </div>
    <br />
}

<div id="grid1">
    @if (Model.Any())
    {
        @webgridStatus.GetHtml(tableStyle: "table table-bordered table-striped table-condensed",
                     headerStyle: "webgrid-header",
                     footerStyle: "webgrid-footer",
                     alternatingRowStyle: "webgrid-alternating-row",
                     selectedRowStyle: "webgrid-selected-row",
                     rowStyle: "webgrid-row-style",
                     mode: WebGridPagerModes.All,
                     columns: webgridStatus.Columns(
                         webgridStatus.Column(columnName: "Name", header: "Name", format: (item) => Html.ActionLink((string)item.Name, "HREvaluation", new
                         {
                             Name = item.Name,
                             CandidateID = item.CandidateID,
                             RoundID = item.RoundID,
                             EvaluationID = item.EvaluationID,
                             recommended = item.Recommended
                         })),
                         webgridStatus.Column(columnName: "Email", header: "Email"),
                         webgridStatus.Column(columnName: "Recommended", header: "Status", format: (item) =>
                         {
                             if (item.Recommended == true && item.CandidateStatus == true)
                             {
                                 return Html.Raw(string.Format("Hired"));
                             }
                             else if (item.Recommended == true && item.CandidateStatus == null)
                             {
                                 return Html.Raw(string.Format("HR Round Completed"));
                             }
                             else if (item.Recommended == false || (item.Recommended == true && item.CandidateStatus == false))
                             {
                                 return Html.Raw(string.Format("Rejected"));
                             }
                             else
                             {
                                 return Html.Raw(string.Format("Proceeded to HR Round"));
                             }
                         })
                         )
                     )
    }
    else
    {
        <h5 class="alert alert-success">No Candidates!!</h5>
    }
</div>

<div>
    @Html.ActionLink("Back to DashBoard", "HRHomePage")
</div>