@model IEnumerable<InterviewEvaluationSystem.Models.CurrentStatusViewModel>

@{
    ViewBag.Title = "CandidateStatus";
    WebGrid webgridStatus = new WebGrid(source: Model, canSort: false, canPage: true, rowsPerPage: 30);
}

<link href="~/Content/webgridstyle.css" rel="stylesheet" />
<h2>Candidate Status</h2>

@using (Html.BeginForm(new { id = "form" }))
{
    <p>
        Search by Name or Email: @Html.TextBox("SearchString", "", new { placeholder = "Search" })
        <input type="submit" value="Search" /><span class="glyphicon glyphicon-search"></span>
    </p>
}

<div id="grid1">
    @if (Model.Any())
    {
        @webgridStatus.GetHtml(tableStyle: "table table-bordered table-striped table-condensed",
                     headerStyle: "webgrid-header",
                     footerStyle: "webgrid-footer",
                     alternatingRowStyle: "webgrid-alternating-row",
                     selectedRowStyle: "webgrid-selected-row",
                     rowStyle: "webgrid-row-style",
                     mode: WebGridPagerModes.All,
                     columns: webgridStatus.Columns(
                         webgridStatus.Column(columnName: "Name", header: "Name", format: (item) => Html.ActionLink((string)item.Name, "HREvaluation", new
                         {
                             Name = item.Name,
                             CandidateID = item.CandidateID,
                             RoundID = item.RoundID,
                             EvaluationID = item.EvaluationID,
                             recommended = item.Recommended
                         })),
                         webgridStatus.Column(columnName: "Email", header: "Email"),
                         webgridStatus.Column(columnName: "Recommended", header: "Status", format: (item) =>
                         {
                             if (item.Recommended == true)
                             {
                                 return Html.Raw(string.Format("Hired"));
                             }
                             else if (item.Recommended == false)
                             {
                                 return Html.Raw(string.Format("Rejected"));
                             }
                             else
                             {
                                 return Html.Raw(string.Format("Proceeded to HR Round"));
                             }
                         })
                         )
                     )
    }
    else
    {
        <h3>No Candidates!!</h3>
    }
</div>