@model IEnumerable<InterviewEvaluationSystem.Models.StatusViewModel>

@{
    ViewBag.Title = "Evaluation Status";
    WebGrid webgridStatus = new WebGrid(source: Model, canSort: false, canPage: true, rowsPerPage: 30);
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Interviewer/HomePage">Home Page</a>
    </li>
    <li class="breadcrumb-item active">Evaluation Status</li>
</ol>

@if (Model.Any())
{
    @webgridStatus.GetHtml(tableStyle: "table table-bordered table-striped",
        headerStyle: "webgrid-header",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        mode: WebGridPagerModes.All,
        columns: webgridStatus.Columns(
            webgridStatus.Column(columnName: "Name", header: "Name", format: 
                @<text>
                    @Html.ActionLink((string)item.Name, "InterviewEvaluation", new
                       {
                           Name = item.Name,
                           CandidateID = item.CandidateID,
                           RoundID = item.RoundID,
                           EvaluationID = item.EvaluationID
                       })
                    @if (item.DateOfInterview == DateTime.Today)
                    {
                        <span class="bg-warning blinking"> Today </span>
                    }
                </text>),
            webgridStatus.Column(columnName: "RoundName", header: "Current Round"))
        )
}
else
{
    <div class="alert alert-success">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>You have No Candidates Assigned!! </strong>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "HomePage", "Interviewer")
</div>
