@model IEnumerable<InterviewEvaluationSystem.Models.StatusViewModel>

@{
    ViewBag.Title = "Evaluation Status";
    WebGrid webgridStatus = new WebGrid(source: Model, canSort: false, canPage: true, rowsPerPage: 30);
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Interviewer/HomePage">Home Page</a>
    </li>
    <li class="breadcrumb-item active">Evaluation Status</li>
</ol>

<div id="grid1">
    @if (Model.Any())
    {
        @webgridStatus.GetHtml(tableStyle: "table table-bordered table-striped table-condensed",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            mode: WebGridPagerModes.All,
            columns: webgridStatus.Columns(
                webgridStatus.Column(columnName: "Name", header: "Name", format: (item) => Html.ActionLink((string)item.Name, "InterviewEvaluation", new
                {
                    Name = item.Name,
                    CandidateID = item.CandidateID,
                    RoundID = item.RoundID,
                    EvaluationID = item.EvaluationID
                })),
                webgridStatus.Column(columnName: "RoundName", header: "Current Round"))
            )
    }
    else
    {
        <h5 class="alert alert-success">You have No Candidates Assigned!!</h5>
    }
</div>