
@{
    ViewBag.Title = "HomePage";
}

<link href="~/Content/homepage.css" rel="stylesheet" />
<h2>HomePage</h2>

<ul id="nav">
    <li class="tab"><a href="/Interviewer/EvaluationStatus">Interview Evaluation</a></li>
    <li class="tab">
        <a>Profile</a>
        <ul>
            <li><a href="/Home/ViewProfile">View Profile</a></li>
            <li><a href="/Home/ProfileUpdate">Update Profile</a></li>
            <li><a href="/Home/ChangePassword">Change Password</a></li>
            <li><a href="/Home/Logout">Logout</a></li>
        </ul>
    </li>
</ul>

<h2>Welcome to Interviewer Home Page!!!!</h2>

@Html.ActionLink("Go to Evaluation", "EvaluationStatus", "Interviewer")