.webgrid-table td, th {
    border: 1px solid #C5C5C5;
    padding: 3px 7px 2px;
}

.webgrid-header, .webgrid-header a {
    background-color: #005396;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
}

.webgrid-footer {
}

.webgrid-row-style {
    padding: 3px 7px 2px;
}

.webgrid-alternating-row {
    background-color: #fff;
    padding: 3px 7px 2px;
}

.colWidth {
    width: 300px;
}

save-userCandidate {
    display: none;
}

delete-userCandidate {
    display: none;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.label {
    border-radius: 50%;
    font-size: .9em;
    width: 22px;
    background: #f77738;
    color: #fff;
    text-align: center;
    position: absolute;
}
