#nav {
    list-style-type: none;
    margin: auto;
    width: 100%;
    font-size: 20px;
    padding: 100px;
}

#nav ul {
    list-style-type: none;
    display: none;
    overflow: hidden;
}

#nav li:hover > ul {
    color: blueviolet;
    display: block;
}

.tab {
    float: left;
    margin-left: 15px;
}
