body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 15px 15px 0 15px;
    background-color: #fff;
}

.panel-heading{
    height: 130px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}


.panel-violet {
    border-color: #6e58dd;
}

.panel-violet .panel-heading {
    border-color: #6e58dd;
    color: #fff;
    background-color: #6e58dd;
}

.panel-violet a {
    color: #6e58dd;
}

.panel-violet a:hover {
    color: #5242a5;
}

.panel-pink {
    border-color: #d858c9;
}

.panel-pink .panel-heading {
    border-color: #d858c9;
    color: #fff;
    background-color: #d858c9;
}

.panel-pink a {
    color: #d858c9;
}

.panel-pink a:hover {
    color: #a04095;
}

.panel-lightgreen {
    border-color: #87e064;
}

.panel-lightgreen .panel-heading {
    border-color: #87e064;
    color: #fff;
    background-color: #87e064;
}

.panel-lightgreen a {
    color: #87e064;
}

.panel-lightgreen a:hover {
    color: #497a35;
}

.panel-lightblue {
    border-color: #54b6bc;
}

.panel-lightblue .panel-heading {
    border-color: #54b6bc;
    color: #fff;
    background-color: #54b6bc;
}

.panel-lightblue a {
    color: #54b6bc;
}

.panel-lightblue a:hover {
    color: #306c70;
}

.text {
    font-size: 16px;
}

.huge {
    font-size: 60px;
}
