@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Login.js"></script>
<link href="~/Content/LoginTemplate.css" rel="stylesheet" />

<h1 class="title">Suyati Technologies</h1>
<hr />

<div id="loginForm">
    <table>
        <tr>
            <td>
                <form class="form-signin" method="post" action="">
                    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /><br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input id="in" type="text" class="form-control" name="Username" placeholder="User Name" required="" autofocus="" />
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input id="in" type="password" class="form-control" name="Password" placeholder="Password" required="" />
                    </div>
                    @if (ViewBag.Message != null)
                    {
                        <p>@ViewBag.Message</p>
                    }
                    <button class="btn btn-primary btn-lg btn-block login-button" type="submit">Login</button>
                </form>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:Forgot()">Forgot Password?</a>
            </td>
        </tr>
    </table>
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog" style="width:31%; height:50%; padding:5px; margin-left:35%;padding-top:170px!important">
        <div class="modal-content" style="padding:5px; background-color:white">
            <div class="modal-header" id="editCaption">
                <h5>Forgot Password</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id='myModalContent' style="width:500px; height:300px; padding:5px;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>