
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
    // Layout = "~/Views/Shared/HRLayout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

        <h1  class="title">Suyati Technologies</h1>
        <hr />

<div id="loginForm">
    <table>
        <tr>
            <td>
                <h2 @*style="color:darkblue;"*@>Login</h2>
                <form class="form-signin" method="post" action="">
                    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input id="in" type="text" class="form-control" name="Username" placeholder="User Name" required="" autofocus="" />
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input id="in" type="password" class="form-control" name="Password" placeholder="Password" required="" />
                    </div>
                    <br />
                    <div class="text-danger">@ViewBag.Wronguser</div>
                    <div class="text-danger">@ViewBag.Message</div>
                    <button @*style="height:50px;text-align:center;background-color:darkblue;"*@ class="btn btn-primary btn-lg btn-block login-button" type="submit">Login</button>
                    @*@Html.ActionLink("Forgot Password ?", "PasswordReset", "Home", new { @class = "elements" }, null)*@
                    <input type="button" value="Forgot Password?" onclick="Forgot()" class="btn-link"/>
                </form>
            </td>
        </tr>
    </table>
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog" style="width:31%; height:50%; padding:5px; margin-left:35%;padding-top:170px!important">
        <div class="modal-content" style="padding:5px; background-color:white">
            <div class="modal-header" id="editCaption">
                <h5>Forgot Password</h5>
            </div>
            <div id='myModalContent' style="width:500px; height:300px; padding:5px;"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
            function Forgot() {
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
        type: "get",
        url: "/Home/PasswordReset",
        //data: { id: id },
        success: function (data) {
        $('#myModalContent').html(data);
        $('#myModal').modal(options);
        $('#myModal').modal('show');

        },
        failure: function () {
        alert("Content load failed.");
        }

        });
        }
    </script>


<style type="text/css">
    #loginForm {
        position:static;
        height:50%;
        width: 32%;
        margin: 200px auto;
        margin-top:50px;
        text-align: center;
        background: rgba(0, 0, 0, 0.43);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        padding-left: 2%;
        /*padding-top:3%;*/
        padding-bottom:7%;
    }
    .profile-img-card {
    width: 66px;
    height: 66px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

    h1{
        text-align:center;
    }

    #in{
        width:280px;
    }

    .modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    
}


</style>
<link href="~/Content/LoginTemplate.css" rel="stylesheet" />
