
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = "~/Views/Shared/HRLayout.cshtml";
}

<h2>Login</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form class="form-signin" method="post" action="">
                <h2 class="form-signin-heading">Please login</h2>
                <input type="text" class="form-control" name="Username" placeholder="User Name" required="" autofocus="" /><br />
                <input type="password" class="form-control" name="Password" placeholder="Password" required="" />
                <button class="btn" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>

