<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Evaluation System</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/sb-admin.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/webgridstyle.css" rel="stylesheet" />
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="~/HR/HRHomePage">Interview Evaluation System</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="~/HR/HRHomePage">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Rounds">
                    <a class="nav-link" href="~/HR/AddRound">
                        <i class="fa fa-spinner"></i>
                        <span class="nav-link-text">Rounds</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Rating Scale">
                    <a class="nav-link" href="~/HR/RatingScale">
                        <i class="fa fa-star"></i>
                        <span class="nav-link-text">Rating Scale</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Skill Categories">
                    <a class="nav-link" href="~/HR/SkillCategory">
                        <i class="fa fa-tasks"></i>
                        <span class="nav-link-text">Skill Categories</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Skills">
                    <a class="nav-link" href="~/HR/Skill">
                        <i class="fa fa-bar-chart"></i>
                        <span class="nav-link-text">Skills</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Interviews">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                        <i class="fa fa-briefcase"></i>
                        <span class="nav-link-text">Interviews</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li data-toggle="tooltip" data-placement="right" title="Interviewers">
                            <a href="~/HR/AddInterviewers">Interviewers</a>
                        </li>
                        <li data-toggle="tooltip" data-placement="right" title="Candidates">
                            <a href="~/HR/AddCandidate">Candidates</a>
                        </li>
                        <li data-toggle="tooltip" data-placement="right" title="Interview Evaluation Status">
                            <a href="~/HR/CandidateStatus">Interview Evaluation Status</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Notifications">
                    <a class="nav-link" href="~/HR/Notification">
                        <i class="fa fa-bell"></i>
                        <span class="nav-link-text">Notifications</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (@Session["UserName"] != null)
                {
                    <li class="nav-item"><a class="nav-link mr-lg-2" aria-haspopup="true" aria-expanded="false">Welcome @Session["UserName"]</a></li>
                }
                else
                {
                    Response.Redirect("~/Home/Login");
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle fa-2x"></i>
                        <span class="indicator text-success d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <h6 class="dropdown-header"></h6>
                        <a class="dropdown-item" href="~/Home/ViewProfile">
                            <div class="dropdown-message">View Profile</div>
                        </a>
                        <a class="dropdown-item" href="~/Home/ChangePassword">
                            <div class="dropdown-message">Change Password</div>
                        </a>
                        <a class="dropdown-item" href="~/Home/ProfileUpdate">
                            <div class="dropdown-message">Update Profile</div>
                        </a>
                        <a class="dropdown-item" href="~/Home/Logout">
                            <div class="dropdown-message">Log out</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Interview Evaluation System 2017</small>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/sb-admin.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
</body>
</html>