@if (Session["UserName"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Home")</li>
    </ul>
}
else
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Session["UserName"]
        </li>
        <li>@Html.ActionLink("Log out", "Logout", "Home")</li>
    </ul>
}