@model InterviewEvaluationSystem.Models.tblUser
@{
    Layout = null;
}

<script src="~/Scripts/resetpartial.js"></script>
<link href="~/Content/resetpartial.css" rel="stylesheet" />

<div id="div1">
    <label>Enter the OTP sent to your mail in order to login</label>
    <div id="Form">
        <form class="form-signin" method="post" action="">
            <input type="hidden" id="otpHidden" value="@Session["OTP"]" />
            <input id="otpText" type="text" class="form-control" name="OTP" placeholder="OTP" required="" autofocus="" />
            <br />
            <label class="text-danger" id="lblOtp"></label>
            <div class="text-danger">@ViewBag.Message</div>
            <button id="smtBtn" style="height:50px;text-align:center;background-color:darkblue;width:90px;" class="btn btn-primary btn-lg btn-block login-button" type="button" onclick="Check()">Submit</button>
        </form>
    </div>
</div>